@model IEnumerable<UsuarioModel>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th>Pais</tha
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var customer in Model)
        {
            <tr>
                <td>@customer.Id</td>
                <td>@customer.Nombre</td>
                <td>@customer.Paterno</td>
                <td>@customer.Materno</td>
                <td>@customer.Telefono</td>
                <td>@customer.Direccion</td>
                <td>@customer.FechaNacimiento</td>
                <td>@customer.Genero</td>
                <td>@customer.NumeroDocumento</td>
                <td>@customer.Correo</td>
                <td>@customer.PaisId</td>
                <td>
                    <button class="btn btn-warning btnEditarCliente"data-id="@customer.Id">
                        Editar
                    </button>
                    <button class="btn btn-danger btnEliminarCliente"data-id="@customer.Id">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
                        
    </tbody>
</table>
    